
body {

    background-color: #efebc0;
  
}


header {
    background-color: #78813c;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.naam{
    width: 40%;
    height: 40%;
    
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 22%;
    width: 15%;
}
.menu-icon{
    height: 70px;
    width:auto
    
}


.menu {
    list-style: none;
    margin: -10%;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    position: relative;
}


.dropbtn {
    background-color: #78813c;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    font-size: 200%;
    font-family: Constantia;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
       transition: 0s;
       
}

.dropdown-content a {
    color: #695a36;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}

.dropdown-content a:hover {
    background-color: #b2ba6d;
  
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8c974b;
}

h1{
    margin-top: 150px;
    margin-left: 50px;
    background-color: #be9f63;
    font-family: broadway;
    font-size: 300%;
    padding: 5%;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #3a2f16;
    width: 133%;
}

.winkel{ 
    width: 100%;
    height: 90%;
    border-radius: 8px;
    margin-top: 20%;
    margin-left: 60%;
    margin-right: 15%;
    margin-bottom: 2%;
    border: 30px solid #8c974b;
  

}


.overlap-text {
    position: absolute;
    bottom: -120px; 
    left: 60px;   
    background-color:#f8d692; 
    color: #3a2f16; 
    padding: 20px 15px;
    border-radius: 4px;
    font-size: 2rem;
    font-family: constania;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.text-block h2 {
    font-family: broadway;
}

.recycle{
    width: 50%;
    height: 50%;
    margin-top: 20%;
    margin-left: 100%; 
}

.text-block {
    background-color: #be9f63;
    color: #3a2f16;
    padding: 20px;
    width: 140%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 80px;
    margin-top: -10%;
    margin-bottom: 200px;
    border-radius: 8px; 
   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 250%;
}

.text-personeel {
    background-color: #8c974b; ;
    color: #3a2f16; 
    padding: 20px;
    width: 120%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: 20%;
    margin-bottom: 200px;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}


.text-personeel h2{
    font-family: broadway;
}


.corner-foto{
margin-left: 370px;
margin-top: -200px;
padding: 9px;
width: 130px;
height: 150px;
position:relative;top:-120px; 

}

.text-bevoorrading {
    background-color: #be9f63; ;
    color: #3a2f16; 
    padding: 20px;
    width: 120%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: -30%;
    margin-bottom: 200px;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}

.text-bevoorrading h2{
    font-family: broadway;
}

.text-duurzaamheid {
    background-color: #f8d692;
    color: #3a2f16; 
    padding: 20px;
    width: 120%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: -25%;
    margin-bottom: 200px;
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}

.aarde-foto{
    margin-left: 350px;
    margin-top: -125px;
    padding: 9px;
    width: 160px;
    height: 170px;
    position:relative;top:-120px; 
    
    }

.text-duurzaamheid h2{
    font-family: broadway;
}

h4{
    background-color: #be9f63;
    color: #3b3016; 
    padding: 15px;
    width: 146%; 
    height: 150%; 
    margin-top: -50%;
    margin-bottom: 20px;
    border-radius: 2px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 150%;
}

iframe {
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 155%;
   }


.text-diy1 {
    background-color: #f8d692;
    color: #3a2f16; 
    padding: 20px;
    width: 130%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: 20%;
    margin-bottom: 200px;
    border-radius: 19px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}

.text-diy2 {
    background-color: #b2ba6d;
    color: #3a2f16; 
    padding: 20px;
    width: 130%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: 20%;
    margin-bottom: 200px;
    border-radius: 19px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}

.text-diy3 {
    background-color: #be9f63;
    color: #3a2f16; 
    padding: 20px;
    width: 130%; 
    height: 150%;
    margin: 50px auto; 
    margin-left: 40px;
    margin-top: 20%;
    margin-bottom: 200px;
    border-radius: 19px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    line-height: 1.6; 
    font-family: Constantia;
    font-size: 170%;
}
.text-diy1 h2{
    font-family: broadway;
    text-align: center;
}
.text-diy2 h2{
    font-family: broadway;
    text-align: center;
}
.text-diy3 h2{
    font-family: broadway;
    text-align: center;
}

.overlap-nummer1{
    position: absolute;
    bottom: 10px; 
    left: 20px;   
    color: #e096ab; 
    padding: 20px 15px;
    border-radius: 6px; 
    font-size: 10rem;
 
}

.overlap-nummer2{
    position: absolute;
    bottom: -1280px; 
    left: -10px;   
    color: #d78099; 
    padding: 20px 15px;
    border-radius: 6px; 
    font-size: 10rem;
 
}


.overlap-nummer3{
    position: absolute;
    bottom: -2420px; 
    left: 0px;   
    color: #ac5a71; 
    padding: 20px 15px;
    border-radius: 6px; 
    font-size: 10rem;
 
}


.diy-foto{
    margin-left: 130px;
    margin-top: -35px;
    padding: 9px;
    width: 200px;
    height: 200px;
    position:relative;top: 20px;  
}

footer {
    background-color: #78813c;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

footer ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    margin: 0;
    padding: 0;
}

footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 170px; 
    height: 150px;
    cursor: pointer; 
    transition: transform 0.1s; 
}

footer img:hover {
    transform: scale(1.4); 
}

footer p {
    margin-top: -20px;
    margin-bottom: -5px; 
    color: #efebc0; 
    font-size: 2rem;
    text-align: center; 
    font-family: constania;
}

footer a{
    text-decoration: none;
}

.lees-meer-knop {
    display: inline-block; 
    background-color: #efebc0; 
    color: #3a2f16; 
    padding: 10px 100px; 
    margin-top: 20px; 
    margin-left: 61px;
    text-align: center; 
    text-decoration: none;
    font-size: 2.6rem; 
    font-family: constania;
    border-radius: 2px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, background-color 0.2s; 
}

